.indent {
    text-indent: 50px;
}

ul {
    padding-left: 25px;
    list-style: disc;
}
li {
    padding-left: 12px;
}

br.spacer {
    line-height: 12px;
}

.check {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    min-width: 10px;
    margin-right: 5px;
}

table#offer,
table#offer th,
table#offer td {
    border: 1px solid black;
}

table#sr_en {
    font-size: 14px;
    text-align: justify;
    border: solid 1px black;
    line-height: 20px;
}

table#sr_en tr {
    border: none;
}

table#sr_en td {
    padding-left: 5px;
    padding-right: 5px;
    vertical-align: top;
}

table#sr_en td:first-child {
    border-right: solid 1px black;
}

table#permission_table td {
    line-height: 25px;
}
