.indent {
    text-indent: 50px;
}

ul {
    padding-left: 25px;
    list-style: disc;
}
li {
    padding-left: 12px;
}

br.spacer {
    line-height: 12px;
}

.check {
    width: 10px;
    height: 10px;
    display: inline-block;
    border: 1px solid black;
    min-width: 10px;
    margin-right: 5px;
}

table#offer,
table#offer th,
table#offer td {
    border: 1px solid black;
}
